<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/scripts/createUser.js" defer></script>
    <script src="../static/scripts/friendship.js" defer></script>
</head>
<body>
<section>
    <h1>Create User</h1>
    <input id="user-email" type="text" placeholder="email">
    <button id="create-user-button">create user</button>
    <!-- tilføj server/domain input  -->
</section>

<section id="friends">
    <input id="destionation-mail"> <!--des mail -->
    <input id="destionation-domain"> <!--des domain -->
    <button id="add-new-friend">add friend</button> <!-- postmapping -->
</section>

</body>
</html>